---
import ExperienceItem from './ExperienceItem.astro';
import { getTranslations } from '../i18n/translations';

const lang = Astro.currentLocale ?? 'es';
const t = getTranslations(lang).experience;
---

<ol class="relative lg:border-s lg:border-gray-200 dark:lg:border-gray-700 space-y-8 lg:space-y-0 lg:pl-6 max-w-3xl mx-auto px-2 sm:px-0">
  {
    t.items.map((experience, idx) => (
      <li class="mb-6 lg:mb-10 lg:ms-4">
        <ExperienceItem
          {...experience}
          learnMore={t.learnMore}
          index={idx}
        />
      </li>
    ))
  }
</ol>
