---
import Header from '../components/Header.astro';
import '@fontsource/onest/400.css';
import '@fontsource/onest/600.css';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Stiven Aguirre - Desarrollador y Programador de Software</title>
		<meta name="description" content="Contrata a Stiven Aguirre, un desarrollador de software con experiencia en la creación de aplicaciones web y soluciones innovadoras.	" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		background-color: #131111;
		font-family: system-ui, sans-serif;
		line-height: 1.5;
		scroll-behavior: smooth;
	}

	body {
		font-family: 'Onest', sans-serif;
		display: flex;
		flex-direction: column;	
		height: 100vh;
	}

	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	
</style>
